{% extends "listings/base.html" %} {% block content %}
{% load static %}
<div class="product-detail flex w-full items-center justify-center py-24 relative">
    <div class="content w-full max-w-7xl flex flex-col">
        <div class="flex justify-between relative">
            <div class="w-[15rem] small:sticky small:top-48 small:py-0 small:max-w-[300px] ">  
                <div id="accordion-flush" data-accordion="open" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
                    <h2 id="accordion-flush-heading-1">
                    <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
                        <span>characteristiques du produit</span>
                        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                        </svg>
                    </button>
                    </h2>
                    <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
                        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab culpa eveniet eaque repudiandae minima inventore, nisi libero qui quaerat eligendi quasi deleniti officia sed maiores excepturi ipsa vero. Voluptates, alias?
                        </div>
                    </div>
                    <h2 id="accordion-flush-heading-2">
                    <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
                        <span>livraison et envoies</span>
                        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                        </svg>
                    </button>
                    </h2>
                    <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
                    <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus natus est error vel numquam eligendi enim sed vitae. Sunt necessitatibus, error eum quaerat magnam pariatur vel odit omnis. Ratione, at.
                    </div>
                    </div>
                
                </div>
  
            </div>
            <div class="">
                <div
                    class="flex text-slate-500 flex-col max-w-[23rem] items-center gap-3 justify-center m-4">
                    <div class="flex w-full md:w-[40rem] h-[60vh] border p-2 rounded-lg bg-[#f9f9f9]">
                        <a href="#" class="w-full block">
                        <div class="w-full flex items-center justify-center h-full">
                            <img
                            src="{% static 'images/riz-viange.png' %}"
                            alt="Flowbite"
                            class="w-ful object-contain h-48" />
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-4">
                <h2 class="text-lg font-bold">Mon produit super</h2>
                <label for="default-range" class="block mb-2 text-sm font-medium text-gray-900 ">Quantité</label>
                <input id="default-range" type="range" value="50" class="w-full h-2 bg-slate-900  rounded-lg appearance-none cursor-pointer">
                <div class="flex items-center mb-4">
                    <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-slate-600 bg-gray-100 border-gray-300 rounded focus:ring-slate-500 dark:focus:ring-slate-600  focus:ring-2 ">
                    <label for="default-checkbox" class="ms-2 text-sm font-medium text-slate-900 dark:text-gray-300">Payer à la livraison</label>
                </div>
                <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Ajouter au panier</button>
            </div>
        </div>
        <div class="flex my-12 flex-col">
            <h2 class="text-center w-full">Produits similaires</h2>
            <div class="flex w-full items-center justify-center my-6">
                <p class="text-center text-3xl font-bold"> vous aimerieze aussi peut-être ses produits</p>
            </div>
        </div>
        {% include "listings/partials/product-grid.html" with title="related products" %}
    </div>
</div>

{% endblock %}
