{% extends "listings/base.html" %}

{% block content %}
{% load static %}
<div class="product-detail flex w-full items-center justify-center py-24 relative">
    <div class="content w-full max-w-7xl flex flex-col">
        <div class="flex justify-between relative">
            <div class="w-[15rem] small:sticky small:top-48 small:max-w-[300px]">
                <h2 class="text-2xl font-medium mb-6">Product description</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, esse rerum ullam temporibus corrupti a dolorum omnis voluptas magnam expedita, quis aliquid fugit dolor explicabo molestias neque iure perspiciatis dignissimos!</p>
            </div>

            <div class="">
                <div class="flex text-slate-500 flex-col max-w-[23rem] items-center gap-3 justify-center m-4">
                    <div class="flex w-full md:w-[35rem] h-[60vh] border p-2 rounded-lg bg-[#f9f9f9]">
                        <a href="#" class="w-full block">
                            <div class="w-full flex items-center justify-center h-full">
                                <img src="{{product.image.url}}" alt="{{product.name}}" class="w-full object-contain h-48"/>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            

            <form class="flex flex-col gap-4">
                <h2 class="text-lg font-normal">{{product.name}}</h2>
                <h2 class="text-sm font-bold">FCFA {{product.price}}</h2>

                <label for="default-range" class="block mb-2 text-sm font-medium text-gray-900">Quantité: <strong class="px-2" id="quantity">1</strong></label>
                <input id="default-range" step="2" type="range" value="1" max="20" onchange="document.getElementById('quantity').innerHTML=this.value" class="w-full h-2 bg-slate-900 rounded-lg appearance-none cursor-pointer"/>
                {% csrf_token %}
                <!-- HTMX-Enabled Button for Adding to Cart -->
                <button hx-post="{% url 'add_to_cart' product.id %}" hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}" hx-target="#cart-status" hx-swap="outerHTML" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                    Ajouter au panier
                </button>

                <!-- Link to View Cart -->
                <button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                    <a href="{% url 'cart_items_view' %}">View Cart</a>
                </button>
            </>
        </div>

        <div class="flex my-12 flex-col">
            <h2 class="text-center w-full">Produits similaires</h2>
            <div class="flex w-full items-center justify-center my-6">
                <p class="text-center text-3xl font-bold">Vous aimeriez aussi peut-être ces produits</p>
            </div>
        </div>
        {% include "listings/partials/product-grid.html" with title="related products" products=related_products %}
    </div>
</div>

<!-- Cart Status -->
<div id="cart-status">
    <!-- Placeholder for dynamic cart updates -->
</div>



{% endblock %}

{% block script %}

<script>

    document.addEventListener('htmx:configRequest', function (event) {
        event.detail.headers['X-CSRFToken'] = document.cookie.match(/csrftoken=([^;]*)/)[1];
    });

    document.addEventListener('htmx:afterRequest', function(event) {
        const xhr = event.detail.xhr; 
        if (xhr.status === 200) {
            const response = JSON.parse(xhr.responseText); 
            console.log(response)
            if (response.status === "error") {
                // const formResponse = document.getElementById("form-response");
                console.log()
            } else if (response.success) {
                alert("product added successfully")
            }
        }
    });

</script>

{% endblock %}