{% extends "listings/base.html" %} {% block content %}

<section
  class="bg-center  bg-no-repeat bg-cover bg-[url('https://images.pexels.com/photos/264636/pexels-photo-264636.jpeg')] bg-gray-700 bg-blend-multiply">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <h1
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
      Bienvenue à Cabrel Store , ici le client est roi
    </h1>
    <p
      class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">
      ici vous trouverez une variété de produits pour enrichir et compbler votre
      quotidien
    </p>
    <div
      class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
      <a
        href="/shop"
        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:ring-sate-300">
        Decouvrir
        <svg
          class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10">
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
      </a>
      <a
        href="#"
        class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
        Learn More
      </a>
    </div>
  </div>
</section>
<div class="flex flex-col w-full gap-12 items-center justify-center">
  {% include "listings/partials/product-grid.html" with title="nos repas" products=food  %}
  {% include "listings/partials/product-grid.html" with title="nos boissons" products=drinks %}
  {% include "listings/partials/product-grid.html" with title="combinaisons" products=mixte %}
</div>
{% endblock %}
