{% extends "listings/base.html" %} {% block content %}
{% load static %}
<div class="product-detail flex w-full items-center justify-center py-24 relative">
    <div class="content w-full max-w-7xl flex flex-col">
        <div class="flex flex-col justify-center relative">
           <div class="flex gap-4">
                <h3 class="font-semibold">Filter by:</h3>
                <div class="flex gap-2">
                    <h2 class="hover:underline cursor-pointer">price-asc</h2>
                    <h2 class="hover:underline cursor-pointer">price-desc</h2>
                </div>
           </div>
            <div class="flex flex-col">
                {% include "listings/partials/product-grid.html" with title="related products" %}
                {% include "listings/partials/product-grid.html" with title="related products" %}
                {% include "listings/partials/product-grid.html" with title="related products" %}
            </div>
           
        </div>
       

    </div>
</div>

{% endblock %}
