{% load static %}
<div
  class="flex text-slate-500 flex-col w-[20rem] md:w-[23rem] items-center gap-3 justify-center m-4">
  <div class="flex w-full h-[28rem] border p-2 rounded-lg bg-[#f9f9f9]">
    <a href="/shop/details/{{slug}}" class="w-full block">
      <div class="w-full flex items-center justify-center h-full">
        <img
          src="{{image.url}}"
          alt="Flowbite"
          class="w-ful object-contain h-44" />
      </div>
    </a>
  </div>
  <div class="datas gap-2 flex items-center justify-between w-full">
    <h4 class="truncate text-sm font-normal">
      {{title}}
    </h4>
    <div class="flex price font-semibold items-center gap-2">
      <h5 class="line-through">5400</h5>
      <h5 class="font-extrabold">{{price}}</h5>
    </div>
  </div>
</div>
